<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weare Shop</title>
	<link rel="icon" href="/user/img/Fevicon.jpg" type="image/png">
    <link rel="stylesheet" href="/user/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/user/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/user/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/user/vendors/linericon/style.css">
    <link rel="stylesheet" href="/user/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/user/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/user/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/user/vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="/user/css/style.css">
</head>

<body>


    <section>
        <!-- ================ User partial header ================= -->




        <!--================Cart Area =================-->
        <section class="cart_area">
            <div class="container">
                <div class="cart_inner">
                    <div class="table-responsive">
                        {{#if productDetails}}
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Total</th>
                                    <th scope="col"></th>
                                </tr>
                            </thead>

                            <tbody>
                                {{#each productDetails}}
                                <tr id="productRow">
                                    <td>
                                        <div class="media">
                                            <div class="d-flex">
                                                <img src="{{this.productId.image.[0]}}" alt="" width="80">
                                            </div>
                                            <div class="media-body">
                                                <p>{{this.productId.productName}}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <h5 id="productPrice{{this.productId._id}}">
                                            ₹{{this.productId.productSellingPrice}}</h5>
                                    </td>
                                    <td>
                                        <div class="product_count">
                                            <input type="number" name="qty" id="quantityDisplay{{this.productId._id}}"
                                                maxlength="12" value="{{this.quantity}}" class="input-text qty"
                                                readonly>
                                            <button onclick="changeQuantity('{{this.productId._id}}',1)"
                                                class="increase items-count" type="button"><i
                                                    class="lnr lnr-chevron-up"></i></button>
                                            {{#ifnoteq this.quantity 1}}
                                            <button onclick="changeQuantity('{{this.productId._id}}',-1)"
                                                id="reduce-btn{{this.productId._id}}" class="reduced items-count"
                                                type="button"><i class="lnr lnr-chevron-down"></i></button>
                                            {{else}}
                                            <button onclick="changeQuantity('{{this.productId._id}}',-1)"
                                                id="reduce-btn{{this.productId._id}}" class="reduced items-count d-none"
                                                type="button"><i class="lnr lnr-chevron-down"></i></button>
                                            {{/ifnoteq}}

                                        </div>
                                    </td>
                                    <td>
                                        <h5 id="productTotal{{this.productId._id}}">₹{{#multiple
                                            this.productId.productSellingPrice this.quantity }}{{/multiple}}</h5>
                                    </td>
                                    <td>
                                        <i class="ti-close" onclick="removeFromCart('{{this.productId._id}}')"></i>
                                    </td>
                                </tr>
                                {{/each}}

                                <tr class="bottom_button">
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td> </td>
                                    <td>
                                        <div class="cupon_text d-flex align-items-center">
                                            <form id="couponApplyForm">
                                                <input type="text" name="code" id="code" placeholder="Coupon Code"
                                                    required>
                                                <button class="primary-btn border-0" type="submit">Apply</button>
                                                <p id="invalidMessage" class="text-danger d-none">Invalid Coupon</p>
                                                <p id="appliedMessage" class="text-success d-none">Coupon applied</p>
                                            </form>

                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <h5>Subtotal</h5>
                                    </td>
                                    <td>
                                        <h5 id="totalCartPrice">₹{{totalCartPrice}}</h5>
                                    </td>
                                </tr>
                                <tr class="shipping_area">
                                    <td class="d-none d-md-block">

                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <h5>Shipping</h5>
                                    </td>
                                    <td>
                                        <h5>Free</h5>

                                    </td>
                                </tr>
                                <tr class="out_button_area">
                                    <td class="d-none-l">

                                    </td>
                                    <td class="">

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>
                                        <div class="checkout_btn_inner d-flex align-items-center">
                                            <a class="gray_btn " href="/shop">Continue Shopping</a>
                                            <a class="primary-btn ml-2" id="checkoutButton"
                                                onclick="gotocheckout()">checkout</a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        {{else}}
                        <h1>Cart is empty</h1>
                        {{/if}}
                    </div>
                </div>
            </div>
        </section>
        <!--================End Cart Area =================-->
    </section>

    <script>

        function gotocheckout() {
            let total = $('#totalCartPrice').html().replace(/^\D+/g, '')
            $.ajax({
                url: '/checkout',
                data: {
                    total: total
                },
                method: 'POST',
                success: (response) => {
                    console.log('done');
                    location.href = '/checkout'
                }
            })
        }
    </script>



    {{!-- user script --}}

    <script src="/user/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/user/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/user/vendors/skrollr.min.js"></script>
    <script src="/user/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/user/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/user/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="/user/vendors/mail-script.js"></script>
    <script src="/user/js/main.js"></script>

</body>

</html>