<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weare Shop</title>
    <link rel="stylesheet" href="/user/vendors/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/user/vendors/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="/user/vendors/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="/user/vendors/linericon/style.css">
    <link rel="stylesheet" href="/user/vendors/nice-select/nice-select.css">
    <link rel="stylesheet" href="/user/vendors/owl-carousel/owl.theme.default.min.css">
    <link rel="stylesheet" href="/user/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="/user/vendors/nouislider/nouislider.min.css">

    <link rel="stylesheet" href="user/css/style.css">
</head>

<body>

    {{!-- section --}}
    <section>
        <!-- ================ User partial header ================= -->
        <!--================Checkout Area =================-->
        <section class="checkout_area section-margin--small">
            <div class="container">
                <div class="billing_details">
                    <form action="" id="placeOrderForm">
                        <div class="row">
                            <div class="col-lg-8">

                                {{#if data}}
                                <div class="order_box">
                                    <h2>Adresses </h2>
                                    {{#each data}}
                                    <div class="payment_item">
                                        <div class="radion_btn">
                                            <input type="radio" id="{{this._id}}" name="address" value="{{this._id}}">
                                            <label for="{{this._id}}">address {{inc @index}}</label>
                                            <div class="check"></div>
                                        </div>
                                        <address>
                                            {{this.name}}.<br>
                                            {{this.mobile}}<br>
                                            {{this.houseName}}<br>
                                            {{this.district}}, {{this.state}}<br>
                                            {{this.pincode}}
                                        </address>
                                    </div>
                                    {{/each}}


                                </div>
                                {{else}}
                                <div class="order_box">
                                    <h2>Address </h2>
                                    <h4>There have no address. Please add a new address </h4>
                                    <p id="addressMsg" class="text-danger d-none">please add a address first</p>
                                </div>
                                {{/if}}
                                <div class="text-center">
                                    <button type="button" class="btn rounded-pill border-secondary float-left mt-3 mb-3"
                                        data-toggle="modal" data-target="#exampleModalCenter">add new address</button>
                                </div>
                            </div>

                            <div class="col-lg-4">

                                <div class="order_box">
                                    <h2>Order Total</h2>
                                    <ul class="list list_2">
                                        <li><a href="#">Total <span>₹{{total}}</span></a></li>
                                    </ul>
                                    <div class="payment_item">
                                        <div class="radion_btn">
                                            <input type="radio" id="f-option5" name="paymentMethod" value="COD">
                                            <label for="f-option5">Cash on delivery</label>
                                            <div class="check"></div>
                                        </div>
                                        <p>You can use pay on delivery for this order </p>
                                    </div>
                                    <div class="payment_item ">
                                        <div class="radion_btn">
                                            <input type="radio" id="f-option6" name="paymentMethod" value="Online">
                                            <label for="f-option6">online payment</label>
                                            <img src="user/img/product/card.jpg" alt="">
                                            <div class="check"></div>
                                        </div>
                                        <p>Pay via online to ensure no-contact deliveries </p>
                                    </div>
                                    <div>
                                        <input type="number" name="total" value="{{total}}" hidden>
                                    </div>
                                    <p class="text-danger d-none" id="paymentMsg">Choose proper address or payment
                                        method</p>
                                    <div class="text-center">
                                        <button type="submit" class="button button-paypal" id="pay-button">Proceed</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </section>

        <div>
            <form action='/addAddress' method="post">
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Add new
                                    address
                                </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="form-group p_star">
                                    <input type="text" class="form-control" id="name" name="name" placeholder="Name"
                                        required>
                                </div>
                                <div class=" form-group p_star">
                                    <input type="number" class="form-control" id="mobile" name="mobile"
                                        placeholder="Mobile" required>
                                </div>
                                <div class=" form-group">
                                    <input type="text" class="form-control" id="houseName" name="houseName"
                                        placeholder="House name / Building name" required>
                                </div>
                                <div class=" form-group p_star">
                                    <input type="text" class="form-control" id="district" name="district"
                                        placeholder="District" required>
                                </div>
                                <div class=" form-group p_star">
                                    <input type="text" class="form-control" id="state" name="state" placeholder="State"
                                        required>
                                </div>
                                <div class=" form-group p_star">
                                    <input type="number" class="form-control" id="pincode" name="pincode"
                                        placeholder="postcode/ZIP" required>
                                </div>

                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn rounded-pill btn-info"
                                    data-dismiss="modal">Close</button>

                                <button type="submit" class="button ">Add</button>
                            </div>
                        </div>
                    </div>

            </form>
        </div>
        <!--================End Checkout Area =================-->

    </section>
   

    {{!-- user script --}}

    <script src="/user/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/user/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/user/vendors/skrollr.min.js"></script>
    <script src="/user/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/user/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/user/vendors/nouislider/nouislider.min.js"></script>
    <script src="/user/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="/user/vendors/mail-script.js"></script>
    <script src="/user/js/main.js"></script>
    <script src="/user/vendors/jquery.form.js"></script>
    <script src="/user/vendors/jquery.validate.min.js"></script>
    <script src="/user/vendors/contact.js"></script>


    <!-- ====== ionicons ======= -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>