<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/user/vendors/bootstrap/bootstrap.min.css">
  <link rel="stylesheet" href="/user/vendors/fontawesome/css/all.min.css">
  <link rel="stylesheet" href="/user/vendors/themify-icons/themify-icons.css">
  <link rel="stylesheet" href="/user/vendors/linericon/style.css">
  <link rel="stylesheet" href="/user/vendors/nice-select/nice-select.css">
  <link rel="stylesheet" href="/user/vendors/owl-carousel/owl.theme.default.min.css">
  <link rel="stylesheet" href="/user/vendors/owl-carousel/owl.carousel.min.css">
  <link rel="stylesheet" href="/user/vendors/nouislider/nouislider.min.css">


  <link rel="stylesheet" href="/user/css/style.css">
</head>

<body>


  <section>
    <!-- ================ User partial header ================= -->




    <!-- ================ category section start ================= -->
    <section class="section-margin--small mb-5">
      <div class="container">
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="sidebar-categories">
              <div class="head">Browse Categories</div>
              <ul class="main-categories">
                <li class="common-filter">
                  <form action="#">
                    <ul>
                      <li class="filter-list"><input onclick="filterCategory('all')" class="pixel-radio " value="all"
                          type="radio" id="category{{this._id}}" name="category" {{#if_eq checkLabel 'all'
                          }}checked{{/if_eq}}><label for="category">All</label></li>
                      {{#each categoryDetails}}
                      <li class="filter-list"><input onclick="filterCategory('{{this._id}}')" class="pixel-radio"
                          value="{{this._id}}" type="radio" id="category{{this._id}}" name="category"><label
                          for="category{{this._id}}">{{this.category}}</label></li>
                      {{/each}}
                    </ul>
                  </form>
                </li>
              </ul>
            </div>
            <div class="sidebar-filter">
              <div class="top-filter-head">Product Filters</div>


              <div class="common-filter">
                <div class="head">price</div>
                <form action="#">
                  <ul>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label
                        for="black">below ₹200<span>{{!-- (29) --}}</span></label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather"
                        name="color"><label for="balckleather">
                        below ₹500<span>{{!-- (29) --}}</span></label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label
                        for="blackred">
                        below ₹700<span>{{!-- (19) --}}</span></label></li>
                    <li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label
                        for="gold">below ₹1000<span>{{!-- (19) --}}</span></label></li>
                  </ul>
                </form>
              </div>
              {{!-- <div class="common-filter">
                <div class="head">Price</div>
                <div class="price-range-area">
                  <div id="price-range"></div>
                  <div class="value-wrapper d-flex">
                    <div class="price">Price:</div>
                    <span>$</span>
                    <div id="lower-value"></div>
                    <div class="to">to</div>
                    <span>$</span>
                    <div id="upper-value"></div>
                  </div>
                </div>
              </div> --}}
            </div>
          </div>
          <div class="col-xl-9 col-lg-8 col-md-7">
            <!-- Start Filter Bar -->
            <div class=" d-flex flex-wrap align-items-center  ">
              <div class="sorting">
                <select id="sortValue" style="border-width:0; color: grey; " onclick="sort()">
                  <option   value="default">Default</option>
                  <option value="1">low to high</option>
                  <option value="-1">high to low</option>
                </select>
              </div>
              <div class="sorting mr-auto">
                {{!-- <select>
                  <option value="1">Show 12</option>
                  <option value="1">Show 12</option>
                  <option value="1">Show 12</option>
                </select> --}}
              </div>
              <div>
                <form id="searchProductForm">
                  <div class="input-group filter-bar-search">
                    <input type="text" placeholder="Search" name="searchProduct">
                    <div class="input-group-append">
                      <button type="submit" ><i class="ti-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <!-- End Filter Bar -->
            <!-- Start Best Seller -->
            <section class="lattest-product-area pb-40 category-list">
              <div class="row" id="productsee">
                {{#each productDetails}}
                <div class="col-6 col-lg-4">
                  <div class="card text-center card-product">
                    <div class="card-product__img">
                      <img class="card-img" width="200" height="180" src="{{this.image.[0]}}" alt="">
                      <ul class="card-product__imgOverlay">
                        <li><a href="/product/{{this._id}}"><button><i class="ti-search"></i></button></a></li>
                        <li><button onclick="addToCart('{{this._id}}')"><i class="ti-shopping-cart"></i></button></li>
                        <li><button onclick="addToWishlist('{{this._id}}')"><i class="ti-heart"></i></button></li>
                      </ul>
                    </div>
                    <div class="card-body">
                      <p>{{this.productCategory.category}}</p>
                      <h4 class="card-product__title"><a href="/product/{{this._id}}">{{this.productName}}</a></h4>
                      <p class="card-product__price">₹{{this.productSellingPrice}}
                        <strike>{{this.productPrice}}</strike>
                      </p>
                    </div>
                  </div>
                </div>
                {{/each}}
              </div>
            </section>
            <nav aria-label="Page navigation example">
              <ul class="pagination float-right" id="paginationId">
                {{#times pages}}
                <li class="page-item"><a class="page-link " onclick="pagination('{{this}}')">{{this}}</a></li>
                {{/times}}
              </ul>
            </nav>
            <!-- End Best Seller -->
          </div>
        </div>
      </div>
    </section>
    <!-- ================ category section end ================= -->


    <!-- ================ Subscribe section start ================= -->
    {{!-- <section class="subscribe-position">
      <div class="container">
        <div class="subscribe text-center">
          <h3 class="subscribe__title">Get Update From Anywhere</h3>
          <p>Bearing Void gathering light light his eavening unto dont afraid</p>
          <div id="mc_embed_signup">
            <form target="_blank"
              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
              method="get" class="subscribe-form form-inline mt-5 pt-1">
              <div class="form-group ml-sm-auto">
                <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email"
                  onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '">
                <div class="info"></div>
              </div>
              <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
              <div style="position: absolute; left: -5000px;">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
              </div>

            </form>
          </div>

        </div>
      </div>
    </section> --}}
    <!-- ================ Subscribe section end ================= -->



    <script>

      function sort(){
        let sort = document.getElementById('sortValue').value
        let categoryId = $("input[name='category']:checked").val();
        console.log(sort)
        console.log(categoryId)
        $.ajax({
          url: '/shop',
          data: {
            category: categoryId,
            sort: sort
          },
          method: 'GET',
          success: (response) => {
            console.log(response)
            if (response.allproduct) {
              location.reload()
            } else {
              console.log(response)
              let productsDetails = ``
              let pagination = ``
              for (values of response.productDetails) {
                productsDetails +=
                  ` 
             <div class="col-6 col-lg-4">
    <div class="card text-center card-product">
      <div class="card-product__img">
        <img class="card-img" width="200" height="180" src="${values.image[0]}" alt="">
        <ul class="card-product__imgOverlay">
          <li><a href="/product/${values._id}"><button><i class="ti-search"></i></button></a></li>
          <li><button onclick="addToCart('${values._id}')"><i class="ti-shopping-cart"></i></button></li>
          <li><button onclick="addToWishlist('${values._id}')"><i class="ti-heart"></i></button></li>
        </ul>
      </div>
      <div class="card-body">
        <p></p>
        <h4 class="card-product__title"><a href="/product/">${values.productName}</a></h4>
        <p class="card-product__price">₹${values.productSellingPrice}
          <strike>${values.productPrice}</strike>
        </p>
      </div>
    </div>
  </div>
        `
              }
              for (let i = 1; i <= response.pages; i++) {
                pagination +=
                  `<li class="page-item"><a class="page-link" onclick="pagination('${i}')">${i}</a></li> `
              }
              document.getElementById('productsee').innerHTML = productsDetails
              document.getElementById('paginationId').innerHTML = pagination
            }
          }
        })
      }

   /*   $('#searchProductForm').submit((e) => {
        e.preventDefault()
        $.ajax({
          url: '/shop',
          method: 'GET',
          data: $('#searchProductForm').serialize(),
          success: (response) => {
            console.log(response)
            console.log('its working')
            let productsDetails = ``
            let pagination = ``
            for (values of response.productDetails) {
              productsDetails +=
                ` 
             <div class="col-6 col-lg-4">
    <div class="card text-center card-product">
      <div class="card-product__img">
        <img class="card-img" width="200" height="180" src="${values.image[0]}" alt="">
        <ul class="card-product__imgOverlay">
          <li><a href="/product/${values._id}"><button><i class="ti-search"></i></button></a></li>
          <li><button onclick="addToCart('${values._id}')"><i class="ti-shopping-cart"></i></button></li>
          <li><button onclick="addToWishlist('${values._id}')"><i class="ti-heart"></i></button></li>
        </ul>
      </div>
      <div class="card-body">
        <p></p>
        <h4 class="card-product__title"><a href="/product/">${values.productName}</a></h4>
        <p class="card-product__price">₹${values.productSellingPrice}
          <strike>${values.productPrice}</strike>
        </p>
      </div>
    </div>
  </div>
        `
            }
            for (let i = 1; i <= response.pages; i++) {
              pagination +=
                `<li class="page-item"><a class="page-link" onclick="pagination('${i}')">${i}</a></li> `
            }
            document.getElementById('productsee').innerHTML = productsDetails
            document.getElementById('paginationId').innerHTML = pagination
          }
        })
      })
*/


      function filterCategory(category) {
        let sort = document.getElementById('sortValue').value
        $.ajax({
          url: '/shop',
          data: {
            category: category,
            sort:sort
          },
          method: 'GET',
          success: (response) => {
            console.log(response)
            if (response.allproduct) {
              location.reload()
            } else {
              console.log(response)
              let productsDetails = ``
              let pagination = ``
              for (values of response.productDetails) {
                productsDetails +=
                  ` 
             <div class="col-6 col-lg-4">
    <div class="card text-center card-product">
      <div class="card-product__img">
        <img class="card-img" width="200" height="180" src="${values.image[0]}" alt="">
        <ul class="card-product__imgOverlay">
          <li><a href="/product/${values._id}"><button><i class="ti-search"></i></button></a></li>
          <li><button onclick="addToCart('${values._id}')"><i class="ti-shopping-cart"></i></button></li>
          <li><button onclick="addToWishlist('${values._id}')"><i class="ti-heart"></i></button></li>
        </ul>
      </div>
      <div class="card-body">
        <p></p>
        <h4 class="card-product__title"><a href="/product/">${values.productName}</a></h4>
        <p class="card-product__price">₹${values.productSellingPrice}
          <strike>${values.productPrice}</strike>
        </p>
      </div>
    </div>
  </div>
        `
              }
              for (let i = 1; i <= response.pages; i++) {
                pagination +=
                  `<li class="page-item"><a class="page-link" onclick="pagination('${i}')">${i}</a></li> `
              }
              document.getElementById('productsee').innerHTML = productsDetails
              document.getElementById('paginationId').innerHTML = pagination
            }
          }
        })
      } 



      function pagination(paginationCount) {
        let categoryId = $("input[name='category']:checked").val();
        let sort = document.getElementById('sortValue').value
        $.ajax({
          url: '/shop',
          data: {
            category: categoryId,
            page: paginationCount,
            sort:sort
          },
          method: 'GET',
          success: (response) => {
            console.log(response)
            console.log(response)
            let productsDetails = ``
            let pagination = ``
            for (values of response.productDetails) {
              productsDetails +=
              ` <div class="col-6 col-lg-4">
                <div class="card text-center card-product">
                   <div class="card-product__img">
                   <img class="card-img" width="200" height="180" src="${values.image[0]}" alt="">
                   <ul class="card-product__imgOverlay">
                   <li><a href="/product/${values._id}"><button><i class="ti-search"></i></button></a></li>
                   <li><button onclick="addToCart('${values._id}')"><i class="ti-shopping-cart"></i></button></li>
                   <li><button onclick="addToWishlist('${values._id}')"><i class="ti-heart"></i></button></li>
                   </ul>
                   </div>
                <div class="card-body">
                <p></p>
                <h4 class="card-product__title"><a href="/product/">${values.productName}</a></h4>
                <p class="card-product__price">₹${values.productSellingPrice}
                <strike>${values.productPrice}</strike>
                </p>
               </div>
              </div>
            </div>  `
            }
            for (let i = 1; i <= response.pages; i++) {
              pagination +=
                `<li class="page-item"><a class="page-link" onclick="pagination('${i}')">${i}</a></li> `
            }
            document.getElementById('productsee').innerHTML = productsDetails
            document.getElementById('paginationId').innerHTML = pagination
          }
        })
      }



      function addToWishlist(proId) {
        fetch('/addWishlist', {
          method: 'POST',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify({ proId })
        })
          .then(res => res.json())
          .then(data => { 
            swal("Added to wishlist",'item added', "success");
            console.log('success') })
          .catch(error => {
            console.log(err.message)
            location.href = '/login'
          });
      }

    </script>


    <script>
      function addWishlist() {

        let title = document.getElementById('title').value
        let body = document.getElementById('title').body

        fetch('/addWishlist', {
          method: 'POST',
          headers: {
            'Accept': 'application/json', 'text/plain', '*/*'
    'Content-type': 'application/json'
    },
          body: JSON.stringify { title: title, body: body }
    })
    .then((res) => res.json())
        .then((data) => console.log(data))
    }
    </script>


    {{!-- user script --}}

    <script src="/user/vendors/jquery/jquery-3.2.1.min.js"></script>
    <script src="/user/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/user/vendors/skrollr.min.js"></script>
    <script src="/user/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="/user/vendors/nice-select/jquery.nice-select.min.js"></script>
    <script src="/user/vendors/nouislider/nouislider.min.js"></script>
    <script src="/user/vendors/jquery.ajaxchimp.min.js"></script>
    <script src="/user/vendors/mail-script.js"></script>
    <script src="/user/js/main.js"></script>

</body>

</html>


{{!-- <div class="common-filter">
  <div class="head">size</div>
  <form action="#">
    <ul>
      <li class="filter-list"><input class="pixel-radio" type="radio" id="black" name="color"><label
          for="black">100g<span></span></label></li>
      <li class="filter-list"><input class="pixel-radio" type="radio" id="balckleather" name="color"><label
          for="balckleather">
          250g<span></span></label></li>
      <li class="filter-list"><input class="pixel-radio" type="radio" id="blackred" name="color"><label for="blackred">
          500g<span></span></label></li>
      <li class="filter-list"><input class="pixel-radio" type="radio" id="gold" name="color"><label
          for="gold">1kg<span></span></label></li>
    </ul>
  </form>
</div> --}}